body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124; /* Dark background color */
    color: #fff; /* Light text color */
}

h1 {
    text-align: center;
    color: #fff; /* Light text color */
}

#present {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #333; /* Dark background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchBar {
    margin-bottom: 20px;
}

#searchBar input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #666; /* Darker border color */
    border-radius: 5px;
    background-color: #444; /* Darker background color */
    color: #fff; /* Light text color */
}

#searchButton {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Primary color */
    color: #fff; /* Light text color */
    cursor: pointer;
}

#weatherResult {
    margin-bottom: 20px;
}

#weatherResult p {
    margin: 5px 0;
    color: #ddd; /* Lighter text color */
}

#weatherData {
    max-width: 800px;
    margin: 0 auto;
}

.weather-day {
    border: 1px solid #666; /* Darker border color */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555555; /* Darker background color */
}

.weather-day img {
    max-width: 50px;
    max-height: 50px;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the body covers the full viewport height */
}

main {
    flex: 1; /* This pushes the footer to the bottom */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}